@model IEnumerable<WebCultureInGdansk.Models.RootObject>
@{
    ViewData["Title"] = "Wydarzenia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wyszukaj wydarzenie</h2>
<div>
    <label>Nazwa wydarzenia</label>
    <input type="text">
    <input type="submit" value="Wyszukaj"/>
</div>
<h2>Wszystkie wydarzenia</h2>

@foreach (var item in Model)
    {
        <ul>
            <li>
                Nazwa wydarzenia: @item.name
            </li>
        </ul>
    }



