@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>

<address>
    Aleja Grunwaldzka 472B<br />
    Gdańsk, 80-309<br />
    Tel: 123-456-789
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
